$background-color: #272727;
$menu-color: #444;
$menu-color-light: #666;
$menu-color-hover: #555;


/*MAIN CSS*/
body {
  background-color: $background-color;
}



// CONTAINERS
.content-wrap {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

//MIDDLE CONTENT

.middle-content {
  height: 100vh;
  width: 900px;
  padding-left: 30%;
  top: 0px
}

// NAVBAR
.sidenav-wrap {
  position: fixed;
  left: 0px;
  top: 0px !important;
  width: 20%;
  height: 100%;
  z-index: 21;
}

.nav-bar {
  float: left;
  height: 60px;
  width: 60px;
  position: relative;
  text-align: center;
  top: 20px;
  left: -20px;
  opacity: 1;
}


// NAVBAR BUTTON
.nav-handle{
  margin: 15px;
  cursor: pointer;
  width: 30px;
  height: 30px;

  .nav-handle:hover {
    background-color: $menu-color-light;
  }

  span {
    background: $menu-color-hover;
    display: block;
    width: 40px;
    height: 3px;
    border-radius: 0px;
    margin-bottom: 5px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.3s linear;
  }

  &.open{
    span{
      &:nth-child(1),
      &:nth-child(3){
        transform: translate(0px, 13px) rotate(-45deg) scalex(1);
        margin: 0;
      }
      &:nth-child(2){
        transition-duration: 0s;
        margin: 0;
        opacity: 0;
      }
      &:nth-child(3){
        transform: translate(0px, 9px) rotate(45deg) scalex(1);
      }
    }
  }
}

// MENU OPEN

#sidemenu-wrap {
  font-size: 1.5em;
  top: 70px;
  position: relative;
  padding: 0px;
  opacity: 1;
  z-index: 29;
  width: 100%
}

#sidemenu-wrap>ul {
  position: relative;
  padding: 0px 0px 0px 35px;
  width: 100%;
  top: -45px;
  clear: both;
  transition: all .3s ease-in-out;
}

.sidemenu-li {
  display: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.sidemenu-li:hover {
  color: $menu-color-light;
}

ul, li {
  color: $menu-color-hover;
  list-style: none;
  list-style-type: none;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

// CENTER AREA

.site-mask {
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(24,24,24,0.5);
  z-index: 20;
  transition-duration: 1s;
}

.mid-div {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 600px;
  margin: -125px 0px 0px -300px;
  z-index: 10;
}

// ACTIVE CLASS
.active {
  display: block;
  opacity: 1 !important;
}

// TEXTS
h1 {
  text-align: center;
  font-size: 10em;
  color: $menu-color-hover;
}

h1 span {
  text-align: center;
  color: $background-color;
  background-color: $menu-color-hover;
}

a {
  text-decoration: none;
  color: $menu-color-hover;
}

a:hover {
  text-decoration: none;
  color: $menu-color-light;
}

a:active {
  text-decoration: none;
  color: $menu-color-light;
}

a:focus {
  text-decoration: none;
  color: $menu-color-light;
}
